<h2>Producten</h2>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Naam</th>
      <th>Prijs</th>
      <th>Foto</th>
    </tr>
  </thead>
  <tbody>
    <tr 
      *ngFor="let product of products"
      [class.duur]="product.price > 15"
      (click)="hoogOp(product)"
    >
      <td>{{ product.id }}</td>
      <td>{{ product.name | camelcase }}</td>
      <td>{{ product.price | currency: 'EUR' }}</td>
      <td>
        <img *ngIf="product.photo" [src]="product.photo" [alt]="product.photo">
        <img *ngIf="!product.photo" src="./assets/not_available.png" alt="foto niet gevonden">
      </td>
    </tr>
  </tbody>
</table>

<hr>

<h2>Product toevoegen</h2>

<form 
  [formGroup]="addProductForm"
  (ngSubmit)="addProduct()"
>
  <h3>Model-driven form</h3>

  <ol>
    <li>
      <label for="input-name">Naam:</label>
      <input id="input-name" type="text" formControlName="name">
      <span *ngIf="(name.touched || name.dirty) && name.invalid">*</span>
      <div *ngIf="(name.touched || name.dirty) && name.hasError('required')">Vul dit veld in</div>
      <div *ngIf="(name.touched || name.dirty) && name.hasError('pattern')">Alleen geldige tekens</div>
    </li>
    <li>
      <label for="input-price">Prijs:</label>
      <input id="input-price" type="number" formControlName="price">
    </li>
    <li>
      <label for="input-photo">Foto:</label>
      <input id="input-photo" type="text" formControlName="photo">
    </li>
    <li>
      <button [disabled]="addProductForm.invalid">Voeg product toe</button>
    </li>
    <li>
      <pre>
        value: {{ addProductForm.value | json }}
      </pre>
    </li>
  </ol>

</form>
